*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #235a1f;
  --secondary-color: #bfffb2;
  --soft-cream: #fff5e1;
  --white: #fff;
  --blacK: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container-wrap {
  margin: 0 50px 0 400px;
  padding-top: 130px;
}

.active-link {
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--secondary-color) !important;
}

h1 {
  font-size: 2.5rem;
}

.paragraph-wrapper {
  max-width: 50%;
}
/* =============== A. Header =============== */

.header {
  background-color: var(--primary-color);
  height: 70px;
  display: flex;
  width: 100vw;
  position: fixed;
  align-items: center;
  z-index: 1;
  flex-direction: row-reverse;
}
.header__nav {
  position: relative;
}
.header__nav-list {
  list-style-type: none;
  margin-right: 50px;
}
.header__nav-link {
  color: var(--white);
  text-decoration: none;
  padding: 3px 0;
  font-size: 1.1rem;
}

.header__nav-link:hover {
  border-bottom: 2px solid var(--white);
}

/* =============== B. Horizontal navbar ============== */

.vertical-nav {
  height: 100vh;
  background-color: var(--secondary-color);
  width: 310px;
  position: fixed;
  padding-left: 40px;
  padding-top: 50px;
  overflow-y: auto;
}
.vertical-nav__category {
  margin-bottom: 10px;
}

.vertical-nav__category ul,
.vertical-nav__category h3 {
  margin-bottom: 0.1rem;
}

.vertical-nav__category-item {
  list-style-type: none;
  padding: 0 15px;
}

.vertical-nav__category-item li {
  transition: all 0.3s ease-in-out;
  padding-top: 5px;
}
.vertical-nav__category-item a {
  text-decoration: none;
  color: var(--blacK);
  font-size: 0.9rem;
  padding: 5px 10px;
}

.vertical-nav__category-item a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.toggle-btn {
  display: none;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.toggle-btn::before {
  content: '\2630';
  font-size: 24px;
}

#menuToggle:checked + .toggle-btn::before {
  content: '\2715';
}

/*================ C. Colors ================*/

.colors-table {
  text-align: left;
  margin: 50px 0;
  border-collapse: collapse;
  width: 100%;
}

.colors-table td {
  vertical-align: bottom;
}

.colors-table td,
.colors-table th {
  /* height: 50px; */
  padding: 10px 0;
}
.colors-table th {
  padding-bottom: 50px;
  font-size: 1.5em;
}

.colors-table tr th:nth-child(3),
.colors-table tr td:nth-child(3) {
  padding-left: 80px;
}

.colors-table tr th:nth-child(2),
.colors-table tr td:nth-child(2) {
  width: 250px;
  max-height: 100%;
}

.colors-table tr td:nth-child(2) {
  border-radius: 5px;
}
.swatch-1,
.swatch-6,
.swatch-8,
.swatch-13 {
  background-color: var(--primary-color);
}

.swatch-2,
.swatch-7,
.swatch-9 {
  background-color: var(--soft-cream);
}

.swatch-3.swatch-10,
.swatch-12 {
  background-color: var(--white);
}

.swatch-4,
.swatch-11 {
  background-color: var(--blacK);
}

.swatch-5 {
  background-color: var(--secondary-color);
}

/* ================= D. Images ================== */

.images-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 0;
}

.images-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-thumbnail {
  height: 300px;
  width: 300px;
}
.image-round {
  border-radius: 25px;
  height: 300px;
  width: 300px;
}

.image-card {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 300px;
  width: 300px;
}

.image-icon {
  border-radius: 50px;
  height: 100px;
  width: 100px;
}
.image-logo {
  height: 100px;
  width: 100px;
}
.image-avatar {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

/* =================== Spacing =================== */
.space .container-wrap {
  height: 3700px;
}

.space h1,
h2,
h3,
p,
ul,
.space-example-container,
.space-grid,
.space-gap-example,
.typography-intro h1,
.typography-intro p,
.typography-grid,
.colors-class li {
  margin-bottom: 1.2rem;
}

.space ul {
  margin-left: 5rem;
}

.space ul li {
  line-height: 2rem;
}
.space-example-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.space-example-container div:nth-child(5),
.space-example-container div:nth-child(8),
.space-example-container div:nth-child(11),
.space-example-container div:nth-child(14),
.space-example-container div:nth-child(17) {
  border: 1px solid gray;
}

.space-example-container div:nth-child(3),
.space-example-container div:nth-child(6),
.space-example-container div:nth-child(9),
.space-example-container div:nth-child(12),
.space-example-container div:nth-child(15),
.space-example-container div:nth-child(18) {
  margin-left: 2rem;
}
.space-example {
  height: 200px;
}
.space-background {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  border: none;
  height: 25px;
  max-width: 100%;
}

/* ================= SPACE GAP =============== */

.space-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 0.75rem;
}
.gap-3 {
  gap: 1rem;
}
.gap-4 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 3.5rem;
}
.row-gap-0 {
  row-gap: 0;
}
.row-gap-1 {
  row-gap: 0.5rem;
}
.row-gap-2 {
  row-gap: 0.75rem;
}
.row-gap-3 {
  row-gap: 1rem;
}
.row-gap-4 {
  row-gap: 1.5rem;
}
.row-gap-5 {
  row-gap: 3.5rem;
}

.column-gap-0 {
  column-gap: 0;
}
.column-gap-1 {
  column-gap: 0.5rem;
}
.column-gap-2 {
  column-gap: 0.75rem;
}
.column-gap-3 {
  column-gap: 1rem;
}
.column-gap-4 {
  column-gap: 1.5rem;
}
.column-gap-5 {
  column-gap: 3.5rem;
}

.space-grid .space-grid-item {
  text-align: center;
  border: 1px solid gray;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
}

.space-gap-example,
.typography-example,
.colors-example,
.images-grid div:nth-child(6),
.images-grid div:nth-child(9),
.images-grid div:nth-child(12),
.images-grid div:nth-child(15),
.images-grid div:nth-child(18),
.images-grid div:nth-child(21),
.containers-example,
.grids-example,
.breadcrumb-example,
.navigation-example,
.verticalnav-example,
.accordion-example {
  background-color: rgb(50, 50, 50);
  color: var(--white);
  padding: 1rem;
  border-radius: 5px;
}

.mrt-0 {
  margin-top: 0;
}
.mrt-1 {
  margin-top: 0.5rem;
}
.mrt-2 {
  margin-top: 0.75rem;
}
.mrt-3 {
  margin-top: 1rem;
}
.mrt-4 {
  margin-top: 1.5rem;
}
.mrt-5 {
  margin-top: 3.5rem;
}

.mrb-0 {
  margin-bottom: 0;
}
.mrb-1 {
  margin-bottom: 0.5rem;
}
.mrb-2 {
  margin-bottom: 0.75rem;
}
.mrb-3 {
  margin-bottom: 1rem;
}
.mrb-4 {
  margin-bottom: 1.5rem;
}
.mrb-5 {
  margin-bottom: 3.5rem;
}

.mrl-0 {
  margin-left: 0;
}
.mrl-1 {
  margin-left: 0.5rem;
}
.mrl-2 {
  margin-left: 0.75rem;
}
.mrl-3 {
  margin-left: 1rem;
}
.mrl-4 {
  margin-left: 1.5rem;
}
.mrl-5 {
  margin-left: 3.5rem;
}
.mrr-0 {
  margin-right: 0;
}
.mrr-1 {
  margin-right: 0.5rem;
}
.mrr-2 {
  margin-right: 0.75rem;
}
.mrr-3 {
  margin-right: 1rem;
}
.mrr-4 {
  margin-right: 1.5rem;
}
.mrr-5 {
  margin-right: 3.5rem;
}
.mrx-0 {
  margin: 0;
}
.mrx-1 {
  margin: 0 0.5rem;
}
.mrx-2 {
  margin: 0 0.75rem;
}
.mrx-3 {
  margin: 0 1rem;
}
.mrx-4 {
  margin: 0 1.5rem;
}
.mrx-5 {
  margin: 0 3.5rem;
}
.mry-0 {
  margin: 0;
}
.mry-1 {
  margin: 0.5rem 0;
}
.mry-2 {
  margin: 0.75rem 0;
}
.mry-3 {
  margin: 1rem 0;
}
.mry-4 {
  margin: 1.5rem 0;
}
.mry-5 {
  margin: 3.5rem 0;
}
.mr-0 {
  margin: 0;
}
.mr-1 {
  margin: 0.5rem;
}
.mr-2 {
  margin: 0.75rem;
}
.mr-3 {
  margin: 1rem;
}
.mr-4 {
  margin: 1.5rem;
}
.mr-5 {
  margin: 3.5rem;
}
.pdt-0 {
  padding-top: 0;
}
.pdt-1 {
  padding-top: 0.5rem;
}
.pdt-2 {
  padding-top: 0.75rem;
}
.pdt-3 {
  padding-top: 1rem;
}
.pdt-4 {
  padding-top: 1.5rem;
}
.pdt-5 {
  padding-top: 3.5rem;
}
.pdr-0 {
  padding-right: 0;
}
.pdr-1 {
  padding-right: 0.5rem;
}
.pdr-2 {
  padding-right: 0.75rem;
}
.pdr-3 {
  padding-right: 1rem;
}
.pdr-4 {
  padding-right: 1.5rem;
}
.pdr-5 {
  padding-right: 3.5rem;
}
.pdb-0 {
  padding-bottom: 0;
}
.pdb-1 {
  padding-bottom: 0.5rem;
}
.pdb-2 {
  padding-bottom: 0.75rem;
}
.pdb-3 {
  padding-bottom: 1rem;
}
.pdb-4 {
  padding-bottom: 1.5rem;
}
.pdb-5 {
  padding-bottom: 3.5rem;
}
.pdl-0 {
  padding-left: 0;
}
.pdl-1 {
  padding-left: 0.5rem;
}
.pdl-2 {
  padding-left: 0.75rem;
}
.pdl-3 {
  padding-left: 1rem;
}
.pdl-4 {
  padding-left: 1.5rem;
}
.pdl-5 {
  padding-left: 3.5rem;
}
.pdx-0 {
  padding: 0;
}
.pdx-1 {
  padding: 0 0.5rem;
}
.pdx-2 {
  padding: 0 0.75rem;
}
.pdx-3 {
  padding: 0 1rem;
}
.pdx-4 {
  padding: 0 1.5rem;
}
.pdx-5 {
  padding: 0 3.5rem;
}
.pdy-0 {
  padding: 0;
}
.pdy-1 {
  padding: 0.5rem 0;
}
.pdy-2 {
  padding: 0.75rem 0;
}
.pdy-3 {
  padding: 1rem 0;
}
.pdy-4 {
  padding: 1.5rem 0;
}
.pdy-5 {
  padding: 3.5rem 0;
}

.pd-0 {
  padding: 0;
}
.pd-1 {
  padding: 0.5rem;
}
.pd-2 {
  padding: 0.75rem;
}
.pd-3 {
  padding: 1rem;
}
.pd-4 {
  padding: 1.5rem;
}
.pd-5 {
  padding: 3.5rem;
}

.mr-auto {
  margin: auto;
}

.pd-auto {
  padding: auto;
}

.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-soft-cream {
  background-color: var(--soft-cream);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
.text-soft-cream {
  color: var(--soft-cream);
}
.text-light {
  color: var(--white);
}
.text-dark {
  color: var(--black);
}
/* ================ Typography ================ */

.typography-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.typography-alignment p {
  border: 1px solid gray;
  border-radius: 5px;
}
.typography-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* =================== CONTAINERS =============== */
.containers-table,
.containers-table tbody {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.containers-table th,
.containers-table td {
  padding: 10px 20px;
  border-bottom: 2px solid black;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 570px) {
  .container-sm,
  .container {
    max-width: 530px;
  }
}
@media (min-width: 750px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 700px;
  }
}
@media (min-width: 980px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 950px;
  }
}
@media (min-width: 1150px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1370px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1300px;
  }
}

/* ======================== GRID ================  */

.grids-demo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.grids-demo div {
  border: 1px solid black;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  text-align: center;
}

.col {
  grid-template-columns: repeat(1, 1fr);
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.col-7 {
  grid-template-columns: repeat(7, 1fr);
}
.col-8 {
  grid-template-columns: repeat(8, 1fr);
}
.col-9 {
  grid-template-columns: repeat(9, 1fr);
}
.col-10 {
  grid-template-columns: repeat(10, 1fr);
}
.col-11 {
  grid-template-columns: repeat(11, 1fr);
}
.col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.cols-2 {
  grid-column: span 2;
}

.cols-3 {
  grid-column: span 3;
}
.cols-4 {
  grid-column: span 4;
}

.cols-5 {
  grid-column: span 5;
}
.cols-6 {
  grid-column: span 6;
}

.cols-7 {
  grid-column: span 7;
}
.cols-8 {
  grid-column: span 8;
}

.cols-9 {
  grid-column: span 9;
}
.cols-10 {
  grid-column: span 10;
}

.cols-11 {
  grid-column: span 11;
}
.cols-12 {
  grid-column: span 12;
}

.rows-2 {
  grid-row: span 2;
}
.rows-3 {
  grid-row: span 3;
}
.rows-4 {
  grid-row: span 4;
}
.rows-5 {
  grid-row: span 5;
}
.rows-6 {
  grid-row: span 6;
}
.rows-7 {
  grid-row: span 7;
}
.rows-8 {
  grid-row: span 8;
}
.rows-9 {
  grid-row: span 9;
}
.rows-10 {
  grid-row: span 10;
}
.rows-11 {
  grid-row: span 11;
}
.rows-12 {
  grid-row: span 12;
}
.rows-2 {
  grid-row: span 2;
}

/* ================= BREADCRUMBS ============== */

.breadcrumb-links {
  font-size: 14px;
  margin: 10px 0;
}

.breadcrumb-links a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb-links a:hover {
  text-decoration: underline;
}

.breadcrumb-links .separator {
  margin: 0 5px;
  color: #777;
}

.breadcrumb-links .current-page {
  color: #555;
}

/* ====================== PAGINATION ================ */

.pagination-center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.pagination-right {
  display: flex;
  justify-content: flex-end;
}
.pagination-list {
  display: flex;
  width: 100%;
  list-style-type: none;
}
.pagination-list li:nth-child(1) > a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination-list li:last-child > a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination-links a {
  text-decoration: none;
  color: #007bff;
  padding: 5px 15px;
  border: 1px solid rgb(193, 193, 193);
}

.pagination-active a {
  background-color: #007bff;
  color: var(--white);
  border-color: #007bff;
}

/* ================= NAVIGATION ============== */

.navigation-list {
  display: flex;
  padding: 15px 5px;
  justify-content: space-between;
  border: 1px solid rgb(193, 193, 193);
}
.navigation-list {
  list-style-type: none;
}

.navigation-list a {
  text-decoration: none;
  color: #007bff;
  padding: 15px;
}

.navigation-list a:hover {
  color: #001eff;
  text-decoration: underline;
}

.navigation-links {
  display: flex;
  justify-content: center;
  padding: 15px 5px;
}
.navigation-logo {
  padding: 15px 5px;
}
.navigation-search {
  width: 300px;
}
.navigation-search input {
  outline: none;
  border: 1px solid rgb(193, 193, 193);
  width: 290px;
  padding: 15px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.navigation-center {
  justify-content: center;
}

.navigation-right {
  justify-content: flex-end;
}

.navigation-block{
display: block;
}

.navigation-display ul{
  margin-bottom: 0;
}
.navigation-display .navigation-list{
  border:unset;
  padding: 0px 5px;
}

.navigation-display .navigation-list li{
  padding: 10px 0;
}
.navigation-display .navigation-list a{
  padding:0;
}
/* ============== VERTICAL NAVIGATION BAR ================ */

.verticalnav-demo {
  max-width: 350px;
  padding: 15px;

  border: 1px solid rgb(193, 193, 193);
}

.verticalnav-list {
  list-style-type: none;
  padding-left: 30px;
}
.verticalnav-list li {
  padding: 10px 5px;
}
.verticalnav-list a {
  text-decoration: none;
  color: #007bff;
}

.verticalnav-list a:hover {
  color: #001eff;
  text-decoration: underline;
}
.verticalnav-demo input {
  outline: none;
  border: 1px solid rgb(193, 193, 193);
  padding: 10px 5px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.verticalnav-right {
  margin-left: auto;
}
/* =================== ACCORDION ================= */

.accordion-label,
.accordion-arrow,
.navigation-toggle {
  display: flex;
  align-items: center;

  padding: 10px;
  cursor: pointer;
  position: relative;
  width: 500px;
  border: 1px solid rgb(193, 193, 193);
  border-bottom: none;
}

.accordion-item .accordion-label:nth-of-type(1) ,
  .accordion-item .accordion-arrow:nth-of-type(1){
  border-radius: 5px 5px 0 0;
}

.accordion-item .accordion-label:last-of-type,
.accordion-item .accordion-arrow:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid rgb(193, 193, 193);
}
.accordion-content input[type='checkbox'] ,
.navigation-content input[type='checkbox'],
.verticalnav input[type='checkbox'] {
  display: none;
}
.navigation-display {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  border:  1px solid rgb(193, 193, 193);
  border-top: none;

  /* max-width: 78.5%; */
}

.accordion-para p {
  position: relative;

  left: 10px;

  height: auto;
}

.accordion-label::before,
.accordion-arrow::before,
.navigation-toggle::before {
  position: absolute;
  margin-left: 450px;
  transform: rotate(-90deg);
  color: #007bff;
  padding: 0 5px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.navigation-toggle::before{
  
  margin-left:1000px;
}
.accordion-label::before {
  content: '+';
}

.accordion-arrow::before {
  content: '>';
  transform: rotate(90deg);
  
}

.navigation-toggle{
  padding:20px 15px;
  width: 100%;
  
}
.navigation-toggle::before {
  content: '\2630';
  font-size: 24px;
  transform: rotate(0);
}

input[type='checkbox']:checked + .navigation-toggle::before {
  content: '\2715';
}
input[type='checkbox']:checked + .accordion-arrow::before {
  transform: rotate(-90deg);
}

input[type='checkbox']:checked + .accordion-label::before{
  transform: rotate(45deg);
}

input[type='checkbox']:checked + .accordion-label + .accordion-para,
input[type='checkbox']:checked + .accordion-arrow + .accordion-para,
input[type='checkbox']:checked + .navigation-toggle + .navigation-display {
  max-height: 1000px;
}

input[type='checkbox']:checked + .accordion-label,
input[type='checkbox']:checked + .accordion-arrow,
input[type='checkbox']:checked + .navigation-toggle {
  border-bottom: 1px solid rgb(193, 193, 193);
}

input[type='checkbox']:last-of-type:checked + .accordion-label:last-of-type,
input[type='checkbox']:last-of-type:checked + .accordion-arrow:last-of-type,
input[type='checkbox']:last-of-type:checked + .navigation-toggle:last-of-type {
  border-radius: 0;
}

input[type='checkbox']:last-of-type:checked ~ .accordion-para {
  border-bottom: 1px solid rgb(193, 193, 193);
  border-radius: 0 0 5px 5px;
}

/* ================ FOOTER ==================*/
.footer-container {
  margin-left: 310px;
  background-color: var(--primary-color);
  height: 380px;
  color: var(--white);
}

.footer-container > p {
  padding-top: 50px;
  text-align: center;
}
.footer-content {
  margin: 0 50px 0 90px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.footer-contact {
  text-align: center;
}
.footer-contact a {
  text-decoration: none;
  color: var(--white);
}
.footer-contact p {
  line-height: 1.7rem;
}
.footer-contact h2 + p {
  margin-top: 20px;
}

.footer-contact p:nth-child(4) {
  margin-bottom: 10px;
}

.footer-facebook,
.footer-insta,
.footer-git {
  height: 40px;
  width: 40px;
  fill: white;
}

.footer-guides ul {
  margin-top: 20px;
  list-style-type: none;
}

/* =================== Media queries ================*/

@media screen and (max-width: 1024px) {
  .container-wrap {
    margin: 0 50px 0 370px;
  }
  .paragraph-wrapper {
    max-width: unset;
  }
  .vertical-nav {
    padding-bottom: 25px;
  }
  .colors-table tr th:nth-child(3),
  .colors-table tr td:nth-child(3) {
    padding-left: 30px;
  }

  .footer-content {
    margin: 0 50px;
  }

  .space .container-wrap {
    height: 3700px;
  }
  .typography-grid {
    row-gap: 2rem;
  }
  .containers-table th,
  .containers-table td {
    padding: 10px;
  }

  .navigation-list {
    padding: 10px 5px;
  }
  .navigation-list a {
    padding: 6px;
    font-size: 0.9rem;
  }
  .navigation-logo span,
  .navigation-search input {
    font-size: 0.9rem;
  }
  .navigation-toggle::before{
    margin-left: 550px;
  }
}

@media screen and (max-width: 768px) {
  .vertical-nav {
    display: none;
    padding-top: 100px;
  }
  #menuToggle {
    position: fixed;
  }
  .toggle-btn {
    display: block;
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 50px;
    z-index: 1;
  }

  #menuToggle:checked + .toggle-btn + .vertical-nav {
    display: block;
    overflow-y: auto;
  }

  .container-wrap {
    margin: 0 50px;
  }
  .colors-table tr th:nth-child(3),
  .colors-table tr td:nth-child(3) {
    padding-left: 60px;
  }
  .containers-table th,
  .containers-table td {
    padding: 10px 15px;
  }
  .footer-container {
    margin-left: 0;
  }
  .navigation-list a,
  .navigation-search input,
  .navigation-logo span {
    font-size: 1.1rem;
  }
  .navigation-toggle::before{
    margin-left: 600px;
  }
}

@media screen and (max-width: 426px) {
  .container-wrap {
    margin: 0 10px;
  }
  table {
    font-size: 0.8rem;
  }

  .space .container-wrap {
    height: 4350px;
  }

  .typography-grid {
    column-gap: 0.2rem;
    row-gap: 1rem;
  }
  .containers-table,
  .containers-table tbody {
    width: 100%;
  }
  .colors-table tr th:nth-child(2),
  .colors-table tr td:nth-child(2) {
    width: 150px;
    max-height: 100px;
  }
  .colors-table tr th:nth-child(3),
  .colors-table tr td:nth-child(3) {
    padding-left: 15px;
  }

  .containers-table th,
  .containers-table td {
    padding: 10px 5px;
    font-size: 0.7rem;
  }
  .footer-content {
    margin: 0 10px;
  }
  .footer-container {
    font-size: 0.8rem;
  }
  .images-grid {
    gap: 10px;
  }
  .images-grid p {
    font-size: 0.8rem;
  }
  .images__dummy img,
  .image-round img,
  .image-card img {
    height: 200px;
    width: 200px;
  }

  .navigation-list a,
  .navigation-search input,
  .navigation-logo span {
    font-size: 1rem;
  }
  .navigation-search {
    width: 109px;
  }
  .navigation-search input {
    width: 100px;
  }

  .accordion-label {
    width: 400px;
  }
  .accordion-label::before {
    margin-left: 350px;
  }

  .navigation-toggle::before{
    margin-left: 350px;
  }
}
